<button mat-fab (click)="snav.toggle()" color="primary">
    <mat-icon> menu </mat-icon>
</button>
<div class="header">
    <p> {{this.contacts[this.active].name}} </p>
    <img height="50px" src="{{this.contacts[this.active].network}}">
</div>
<mat-sidenav-container class="container">
    <mat-sidenav #snav mode="side">

        <mat-list>
            <div class="contact" *ngFor="let contact of contacts; let i = index" [ngClass]="{'active': i == this.active}">
                <img height="50px" src="{{contact.network}}">
                <p> {{contact.name}}</p>
                <span class="circle"> {{contact.pending_message}} </span>
                <mat-divider></mat-divider>
            </div>
            <mat-list-item>
                <button mat-raised-button>
                    <mat-icon> add </mat-icon>
                </button>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-chat></app-chat>
    </mat-sidenav-content>
</mat-sidenav-container>