<button mat-fab (click)="snav.toggle()" color="primary">
    <mat-icon> menu </mat-icon>
</button>
<div class="header">
    <p> {{this.contacts[this.active]?.name}} </p>
    <img height="50px" src="{{this.contacts[this.active]?.network}}">
</div>
<mat-sidenav-container class="container">
    <mat-sidenav #snav mode="side">

        <mat-list>
            <div class="contact" *ngFor="let contact of contacts; let i = index" [ngClass]="{'active': i == this.active}" (click)="switchContact(i)">
                <img height="50px" src="{{contact.network}}">
                <p>
                    <span matBadge="{{contact.pending_message}}" matBadgeOverlap="false">{{contact.name}}</span>
                </p>
                <mat-divider></mat-divider>
            </div>
            <mat-list-item>
                <button mat-raised-button (click)="openDialog()">
                    <mat-icon> add </mat-icon>
                </button>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-chat *ngIf="this.contacts?.length"></app-chat>
        <p *ngIf="!this.contacts?.length"> t'a pas d'ami prend un curly en cliquant à gauche </p>
    </mat-sidenav-content>
</mat-sidenav-container>
