:host {
    display: flex;
    flex-direction: column;
}

button {
    margin: 10px
}

.header {
    display: flex;
    align-self: center;
    margin-top: -50px;
    img {
        margin-left: 10px;
    }
}

.container {
    position: absolute;
    top: 75px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
}

.contact {
    border: thick double #32a1ce;
    border-radius: 10px;
    display: flex;
    align-items: center;
    min-height: 100px;
    p {
        margin: 20px;
    }
    .circle {
        background-color: #F80;
        border: 3px solid #F80;
        border-radius: 18px;
        box-shadow: 0 0 2px #888;
        height: 30px;
        width: 30px;
        text-align: center;
    }
}

.contact.active {
    background: grey;
}