<header id="header">
    <a routerLink="/">
        <img class="home_button" src="../assets/HoppR_Logo.png">
    </a>
    <mat-form-field>
        <input matInput placeholder="Search a Keyword">
    </mat-form-field>
    <div class="icon">
        <mat-icon> person_pin </mat-icon>
        <mat-icon> chat </mat-icon>
        <mat-icon> settings_applications </mat-icon>
    </div>
</header>
<main>
    <app-contact-bar *ngIf="ready"></app-contact-bar>
    <mat-spinner *ngIf="!ready"></mat-spinner>
</main>