<header>
    <img height="80%" src="../assets/HoppR_Logo.png">
    <form class="form-container" (submit)="login(textForm)" #textForm="ngForm" *ngIf="!isLogin">
        <mat-form-field>
            <input matInput placeholder="Choose your name ..." ngModel name="name" autofocus>
        </mat-form-field>
    </form>
    <h1 *ngIf="isLogin"> Welcome {{name}} ! </h1>
    <div class="icon">
        <mat-icon> person_pin </mat-icon>
        <mat-icon> chat </mat-icon>
        <mat-icon> settings_applications </mat-icon>
    </div>
</header>
<main>
    <app-contact-bar [name]="name" *ngIf="isLogin"></app-contact-bar>
    <mat-spinner *ngIf="!isLogin"></mat-spinner>
</main>
